/* You can add global styles to this file, and also import other style files */

body,
html {
  background-color: #222128;
  border: 0;
  padding: 0;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 0;
}

h1,
h2 {
  font-family: "Raleway";
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  min-width: 280px;
}

h3,
h4 {
  font-family: "Atkinson Hyperlegible";
}

p {
  color: rgb(232, 232, 232);
  font-weight: lighter;
  font-size: 140%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 40%;
  min-width: 280px;
  max-width: 60vh;
  font-family: "Atkinson Hyperlegible";
}

.name {
  font-size: 450% !important;
  margin-top: 20px;
  margin-bottom: 10px;
}

.job-title {
  font-size: 150% !important;
  font-family: "Raleway" !important;
  margin-top: 15px !important;
  font-weight: lighter;
}