/* You can add global styles to this file, and also import other style files */

/* Move these to angular.json styles list later*/
@import "~@fontsource/atkinson-hyperlegible/index.css";
@import "~@fontsource/raleway/index.css";
@import "~@fontsource/lexend/index.css";

body, html {
    background-color: #000000;
    border: 0;
    padding: 0;
    margin: 0;
}
.container {
    background-color: #000000;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 0;
}

p {
    color:rgb(232, 232, 232);
    font-weight: lighter;
    font-size: 120%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 40%;
    min-width: 280px;
    font-family: "Atkinson Hyperlegible";
}

h1, h2 {
    font-family: "Raleway";
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    min-width: 280px;
}

h3, h4 {
    font-family: "Atkinson Hyperlegible";
}