.nav-button {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 10%;
    min-width: 6em;
    font-size: 125%;
    cursor: pointer;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: "Raleway";
}

.nav-button:hover {
    background-color: rgb(188, 188, 188);
    transition: 0.75s;
}

.active-nav-button {
    background-color: green;
    background-image: linear-gradient(white, white);
    background-size:100% 90%;
    background-repeat: no-repeat;
    color:green;
    transition: 0.5s;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}