.nav-button {
  background-color: rgb(248, 248, 248);
  padding: 15px;
  width: 10%;
  min-width: 6em;
  font-size: 125%;
  cursor: pointer;
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: "Raleway";
  transition-duration: 0.6s;
}

.nav-button:hover {
  background-image: linear-gradient(rgb(188, 188, 188), rgb(188, 188, 188));
  background-size: 100% 90%;
}

.active-nav-button {
  background-color: green;
  background-image: linear-gradient(rgb(188, 188, 188), rgb(188, 188, 188));
  background-size: 100% 90%;
  background-repeat: no-repeat;
  color: green;
  transition: 0.5s;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(248, 248, 248);
  align-items: center;
  justify-content: center;
}

.logo-link {
  width: 3em !important;
  margin-left: 1em;
  margin-right: 1em;
}

.links-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.copyright {
  opacity: 60%;
  text-align: center;
}
