<div class="container">
  <h2>Michael Cai</h2>
  <h4>.NET Developer</h4>
  <h1>Resume</h1>
</div>

<div class="container">
  <h2>Experience</h2>
  <app-summary header="My Header"><h1>Big</h1></app-summary>
  <app-summary [header]="myComplicatedFunction()"><h1>Big</h1></app-summary>
</div>

<div class="container">
  <h2>Education</h2>
  <!--Add components for each of my items of experience :)-->
</div>

<div class="container">
  <h2>Projects and Publications</h2>
  <!--Add components for each of my items of experience :)-->
</div>
