.github-icon {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 450%;
}

h2 {
  color: rgb(232, 232, 232);
  font-size: 150%;
}

b {
  font-weight: 700;
  /* A fun way of making the text a gradient, probably delete this later :) */
  background-image: linear-gradient(to right top, rgb(255, 255, 255), rgb(191, 207, 233));
  background-clip: text;
  color:transparent;
  
}