<!-- Containers header content: name, fun title, icon, brief description -->
<header>
  <div class="container">
    <h1>Michael Cai</h1>
    <h2>Full-time Raccoon Enthusiast and Backend Developer</h2>
    <img class="github-icon" src="https://avatars.githubusercontent.com/u/31701749?v=4" alt="Michael Cai's Github Icon">
    <p>
      .NET Developer and Python Developer with experience developing both Service Fabric and Kubernetes applications. I've worked on cloud applications primarily using the Azure suite of products.  
    </p>
  </div>
</header>
<!-- Give overview of projects and experience (resume should be separate page) -->