.parent-element * {
  min-width: 2px;
  width: 97.5%;
}

.section {
  border-left: 5px solid gray;
  margin-top: 5%;
  margin-bottom: 5%;
  text-wrap: wrap;
  @media (width <= 750px) {
    max-width: 95vw;
  }
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 250%;
  min-width: 2px;
  width: 97.5%;
}

h2 {
  color: rgb(255, 255, 255);
  width: 97.5%;
  text-wrap: wrap;
}

h3,
h4 {
  color: rgb(255, 255, 255);
  opacity: 90%;
  width: 97.5%;
  white-space: pre-line;
  text-wrap: wrap;
}

.corp-logo {
  width: 12rem;
  border-radius: 5%;
  padding-left: 15px;
}
